.toolbar {
	display: none;
}

#viewerContainer {
	top: 0 !important;
}

body {
	background-color: #fff;
	background-image: none;
}

.pdfViewer .page {
	margin: 10px auto;
	border: 1px solid #ddd;
	border-image: none;
}

/* Force hide the sidebar in the thumbnail, as whether it is shown or not
 * depends on whether it was open or not the last time that the main viewer was
 * used. */
#sidebarContainer {
	display: none;
}
