.toolbarButton#secondaryToolbarClose::before {
  content: url(../img/toolbarButton-secondaryToolbarClose.png);
}

@media screen and (min-resolution: 2dppx) {
  .toolbarButton#secondaryToolbarClose::before {
    content: url(../img/toolbarButton-secondaryToolbarClose@2x.png);
  }
}

html[dir='rtl'] .doorHanger:after,
html[dir='ltr'] .doorHangerRight:after {
  right: 53px!important;
}
html[dir='rtl'] .doorHanger:before,
html[dir='ltr'] .doorHangerRight:before {
  right: 53px!important;
}