// Prevent printing from the browser when the download of a share is hidden
@media print {
	.pdfViewer.disabledTextSelection {
		visibility: hidden;
		display: none;
	}
}

// Prevent text selection when the download of a share is hidden
.pdfViewer.disabledTextSelection .textLayer {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

// Override text cursor in descendants
.pdfViewer.disabledTextSelection .textLayer * {
	cursor: default;
}

// Hide unwanted toolbar actions
#secondaryOpenFile,
#openFile,
#sidebarResizer {
	display: none !important;
}

// Override default styling
#content {
	height: 100%;
	width: 100%;
	#sidebarContent *,
	#viewer * {
		box-sizing: content-box;
	}
}
