.toolbarButton#secondaryToolbarClose::before {
  display: block;
  content: ' ';
  background-image: url(../img/toolbarButton-secondaryToolbarClose.svg);
  background-size: 16px 16px;
  height: 16px;
  width:16px;

}


html .doorHangerRight:after {
  right: 53px!important;
}
html .doorHangerRight:before {
  right: 53px!important;
}
