/* Prevent printing from the browser when the download of a share is hidden. */
@media print {
	.pdfViewer.disabledTextSelection {
		visibility: hidden;
		display: none;
	}
}

/* Prevent text selection when the download of a share is hidden. */
.pdfViewer.disabledTextSelection .textLayer {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Override text cursor in descendants. */
.pdfViewer.disabledTextSelection .textLayer * {
	cursor: default;
}
