body {
    background-color: #fff;
    background-image: none;
}
.pdfViewer .page {
    margin: 10px auto;
    border: 1px solid #ddd;
    border-image: none;
}
#toolbarContainer,
.findbar,
.secondaryToolbar {
    box-shadow: none;
    background-image: none;
}

#openFile {
    display: none;
}

.toolbarButton#secondaryToolbarClose::before {
  display: block;
  content: ' ';
  background-image: url(../img/toolbarButton-secondaryToolbarClose.svg);
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

@media screen and (min-resolution: 2dppx) {
  #secondaryToolbarClose::before {
    background-size: 32px 32px !important;
    height: 32px !important;
    width: 32px !important;
  }
}

html .doorHangerRight:after {
  right: 53px!important;
}
html .doorHangerRight:before {
  right: 53px!important;
}
